<div class="navbar navbar-light navbar-lewagon">

  <div class="title-container">
    <%= link_to root_path, class: "title-link" do %>
      <%= image_tag "Backpack simulator.png", class: "", alt: "dropdown menu" %>
    <% end %>
  </div>
  <div class="icon-container">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%= link_to lists_path, class: "" do %>
            <%= image_tag "lists-inactive.png", class: "", alt: "dropdown menu" %>
          <% end %>
          <%= link_to items_path, class: "" do %>
            <%= image_tag "items-inactive.png", class: "iconcenter", alt: "dropdown menu" %>
          <% end %>
          <a href="#" class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "user.png", class: "", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
